# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env

# FAISS binaries (optional if too large)
*.faiss

# Streamlit cache
.streamlit/

# Temporary files
temp/